<div class="header-container">
  <div class="video-container">
    <!-- <video preload="true"  autoplay muted loop > -->
      <%= video_tag("campfire.mp4", autoplay: true, loop: true, muted:true) %>
    <!-- </video> -->
  </div>
  <h1 class="text-center">You're not alone!</h1>
  <div class="text-center">
    <a href="#" class="btn btn-danger">Connect with Local Ranger Buddies</a>
  </div>
</div

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">We've been there.</h2>
        <h3 class="section-subheading text-muted">And we're ready to Listen, Talk and Help!</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "thailand.jpg", class:"img-responsive" %>
          <div class="caption">
            <h3>Connect</h3>
            <p>Since Battalion, you're life has moved forward. Take a step back and connect with those who know how and what you think and feel.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "panama.jpg", class:"img-responsive" %>
          <div class="caption">
            <h3>Meet</h3>
            <p>Schedule a rendevous to reconnect, vent or just meet new Rangers.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "counseling.jpg", class:"img-responsive" %>
          <div class="caption">
            <h3>Resources</h3>
            <p>Public and private resources close to you ready to assist in any way that they can.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h3 class=" text-center">Resources Close to You!</h3>
      <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12269.943475677324!2d-105.0031458!3d39.7511983!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1442945679420" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <a href="#">VA Hospital</a><br>
        <a href="#">Counseling</a><br>
        <a href="#">Drug Center</a><br>
        <a href="#">Pharmacy</a>
      </div>
    </div>
  </div>
</section>
